* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 16px;
}

li {
  list-style: none;
  outline: none;

}

#header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: baseline;

}

.logo {
  width: 200px;
  padding: 30px;
  margin-left: 40px;
}

.navbar {
  display: flex;
  margin-left: 500px;


}

#heading1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  color: #fff;
  font-size: 70px;
}
/* ---------------------------we are the largest university----------------- */
.About{
  display:grid ;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
  grid-gap: 70px;
  margin-top: 100px;
  align-items: center;
}
.about-description{
  align-items: center;
  justify-content: center;
  position: relative;
  left: 72px;
}

.about-description button{
  border: 1px solid rgba(255, 68, 0, 0.856);
  padding:  10px 30px;
  color:rgba(255, 68, 0, 0.856) ;
  background: transparent;
  font-size: 15px;
  margin-top: 20px;
  transition: 0.5s;
}
.about-description button:hover{
  transform: scale(1.12);
  background-color: rgba(255, 68, 0, 0.856);
  color: #fff;
}
.image-about{
  width: 457px;
  position: relative;
  left: 72px;
}
.about-description h2{
  font-size: 44px;
  padding: 10px;
}
.social-icon{
  width: 50px;
}



/* -----------------footer---------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-description h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px 0px 10px 0px;
}

.footer-description p {
  text-align: center;

}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  padding: 30px;
}
.social-icon {
  display: flex;
  cursor: pointer;
}

.social-icon1 {
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.social-icon2 {
  border-radius: 9px;
  width: 30px;
  cursor: pointer;
}

.social-icon3 {
  width: 37px;
  border-radius: 10px;
  cursor: pointer;
}
.footer-last{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.next button{
  display: none;
}
@media only screen and (max-width: 700px){
  .next button {
    border: 1px solid rgba(0, 0, 0, 0.315);
    display: flex;
    padding: 9px 20px;
    margin-left: 150px;
    color: rgba(255, 68, 0, 0.856);
    background: transparent;
    font-size: 15px;
    
    transition: 0.5s;
    
  }

  .next button:hover {
    transform: scale(1.12);
    background-color: rgba(255, 68, 0, 0.856);
    color: #fff;
  }
  #header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/background1.jpg);
    min-height: 86vh;
    min-width: 691px;
    background-position: center;
    background-size: cover;
    position: relative;
   
  }
  
  /* .container {
    display: flex;
    align-items: center;
    justify-content: baseline;
  
  } */
  
  .menu-white {
    display: flex;
    position: relative;
    left: 100px;
    width: 49px;
    top: 1px;
    cursor: pointer;
  }
  .logo {
    width: 200px;
    padding: 30px;
    margin-left: 40px;
  }
  
  .navbar {
    display: none;
  }
  
  #heading1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    color: #fff;
    font-size: 50px;
    position: relative;
  right: 90px;
  }
  /* ---------------------------we are the largest university----------------- */
  .About{
    display:grid ;
    grid-template-columns: 1fr ;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 100px;
    align-items: center;
  }
  .about-description{
    align-items: center;
    justify-content: center;
    position: relative;
    left: 72px;
  }
  
  .about-description button{
    border: 1px solid rgba(255, 68, 0, 0.856);
    padding:  10px 30px;
    color:rgba(255, 68, 0, 0.856) ;
    background: transparent;
    font-size: 15px;
    margin-top: 20px;
    transition: 0.5s;
  }
  .about-description button:hover{
    transform: scale(1.12);
    background-color: rgba(255, 68, 0, 0.856);
    color: #fff;
  }
  .image-about{
    width: 457px;
    position: relative;
    left: 72px;
  }
  .about-description h2{
    font-size: 44px;
    padding: 10px;
  }
  .social-icon{
    width: 50px;
  }
}


