* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display";

}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 16px;
}

li {
  list-style: none;
  outline: none;

}

#header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;

}

.container {
  display: flex;
  align-items: center;
  justify-content: baseline;

}

.logo {
  width: 200px;
  padding: 30px;
  margin-left: 40px;
}

.navbar {
  display: flex;
  margin-left: 500px;


}

#heading1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  color: #fff;
  font-size: 51px;
}


/* ----------------------------------blog--------------------- */
.Blog {
  display: grid;
  justify-content: center;

  grid-template-columns: 1fr 1fr;
  margin-top: 90px;

}

.certificate-img {
  display: flex;
  justify-content: center;
  width: 700px;
  /* height: 392px; */
  left: 104px;
  position: relative;
}

.post-categories button {
  left: 132px;
  position: relative;
  padding: 10px 150px;
  color: #fff;
  font-size: 18px;
  border: 1px solid rgba(255, 68, 0, 0.856);
  background: rgba(255, 68, 0, 0.856);
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 148px;
}

.catgroies {
  margin: 20px;
  grid-gap: 20px;
  display: grid;
}

.catgroies1 {
  margin: 20px;
  grid-gap: 20px;
  display: grid;
}

.description {
  position: relative;
  left: 106px;
}

.description h2 {
  margin: 30px;
  right: 33px;
  position: relative;
}

.para {
  display: grid;
  gap: 30px;
}

.comment {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 7px;
  width: 550px;
  margin: 50px;
  background: white;
  height: 490px;

  margin-left: 105px;
}

.comment h3 {
  position: relative;
  margin: 20px;
}

.comment input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0.205);
  margin: 30px;
  padding: 20px 300px 20px 10px;
  border-radius: 9px;
}

.comment textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0.205);
  margin: 30px;
  padding: 20px 300px 20px 10px;
  border-radius: 9px;
}

.comment button {
  border: 1px solid rgba(0, 0, 0, 0.315);
  padding: 10px 30px;
  color: rgba(255, 68, 0, 0.856);
  background: transparent;
  font-size: 15px;
  margin-top: 20px;
  transition: 0.5s;
  position: relative;
  left: 30px;
}

.comment button:hover {
  transform: scale(1.12);
  background-color: rgba(255, 68, 0, 0.856);
  color: #fff;
}



/* -----------------footer---------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-description {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-description h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px 0px 10px 0px;
}

.footer-description p {
  text-align: center;

}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  padding: 30px;
}

.social-icon {
  display: flex;
  cursor: pointer;
}

.social-icon1 {
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.social-icon2 {
  border-radius: 9px;
  width: 30px;
  cursor: pointer;
}

.social-icon3 {
  width: 37px;
  border-radius: 10px;
  cursor: pointer;
}

.footer-last {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}



@media only screen and (max-width: 700px) {
  .next button {
    border: 1px solid rgba(255, 68, 0, 0.856);
    display: flex;
    padding: 9px 20px;
    margin-left: 150px;
    color: rgba(255, 68, 0, 0.856);
    background: transparent;
    font-size: 15px;
    
    transition: 0.5s;
    
  }

  .next button:hover {
    transform: scale(1.12);
    background-color: rgba(255, 68, 0, 0.856);
    color: #fff;
  }




  #header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/background1.jpg);
    min-height: 86vh;
    min-width: 691px;
    background-position: center;
    background-size: cover;
    position: relative;

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: baseline;

  }

  .logo {
    width: 200px;
    padding: 30px;
    margin-left: 40px;
  }

  .navbar {
    display: none;


  }

  #heading1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    color: #fff;
    font-size: 40px;
  }


  /* ----------------------------------blog--------------------- */
  .Blog {
    display: grid;
    justify-content: center;

    grid-template-columns: 1fr;
    margin-top: 90px;

  }

  .certificate-img {
    display: flex;
    justify-content: center;
    width: 700px;
    /* height: 392px; */
    left: 104px;
    position: relative;
  }

  .post-categories button {
    left: 132px;
    position: relative;
    padding: 10px 150px;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    border: 1px solid rgba(255, 68, 0, 0.856);
    background: rgba(255, 68, 0, 0.856);
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr;
  }

  .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
  }

  .catgroies {
    margin: 20px;
    grid-gap: 20px;
    display: grid;
  }

  .catgroies1 {
    margin: 20px;
    grid-gap: 20px;
    display: grid;
  }

  .description {
    position: relative;
    left: 106px;
  }

  .description h2 {
    margin: 30px;
    right: 33px;
    position: relative;
  }

  .para {
    display: grid;
    gap: 30px;
  }

  .comment {
    border: 1px solid rgb(187, 183, 183);
    border-radius: 7px;
    width: 550px;
    margin: 50px;
    background: white;
    height: 490px;

    margin-left: 80px;
  }

  .comment h3 {
    position: relative;
    margin: 20px;
  }

  .comment input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0.205);
    margin: 30px;
    padding: 20px 300px 20px 10px;
    border-radius: 9px;
  }

  .comment textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0.205);
    margin: 30px;
    padding: 20px 300px 20px 10px;
    border-radius: 9px;
  }

  .comment button {
    border: 1px solid rgba(0, 0, 0, 0.315);
    padding: 10px 30px;
    color: rgba(255, 68, 0, 0.856);
    background: transparent;
    font-size: 15px;
    margin-top: 20px;
    transition: 0.5s;
    position: relative;
    left: 30px;
  }

  .comment button:hover {
    transform: scale(1.12);
    background-color: rgba(255, 68, 0, 0.856);
    color: #fff;
  }
}